<div class="body-lienas">
  <div class="container">
    <figure class="card" *ngFor="let linea of lineas">
      <img [src]="linea.image" alt="">
      <div class="capa">
          <div class="products">
            <ul>
              <li *ngFor="let producto of productos">
                {{producto.name}}
              </li>
            </ul>

          </div>
          <button>
            <h3> {{linea.title}} </h3>
          </button>

          <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima itaque nemo ipsam.</p>
          </div>
      </div>
    </figure>
  </div>
  <div class="products-container">
    <div class="products">
      <div class="card-galery" *ngFor="let producto of productos">
        <div class="imgBx">
          <img [src]="producto.image" alt="">
        </div>
        <div class="content-card">
          <div class="productName">
            <h3>
              {{producto.name}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
