@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Main Styling */
body,
html {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
	font-weight: 400;
}
h4 {
	font-size: 1.5rem;
	font-weight: 500;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.txt-large {
	font-size: 20px;
}

.txt-light {
	color: #d0ccc9;
}

.display-1 {
	font-size: 3.2rem;
	font-weight: 900;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-dark {
	background: #635aec;
	border: 1px solid #635aec;
	color: #fff;
}

.btn-dark:hover {
	background: #f8f7fb;
	border: 1px solid #635aec;
	color: #635aec;
}

.bk-main {
	background:  url('/assets/img/Cordon.jpg'), #664200fb;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bk-color {
	background: #f8f7fb;
}

.flex-3 {
	display: flex;
	justify-content: space-between;
	gap: 10;
}

.flex-3-box {
	flex: 1;
	margin: 20px 10px;
}

.p-1 {
	padding-top: 200px;
	padding-bottom: 200px;
}

.p-2 {
	padding-top: 60px;
	padding-bottom: 60px;
}

/* Mainheader */
#mainheader {
	color: #fff;
}

/* Navbar */
.navbar {
	height: 80px;
}

.navbar .logo {
	font-size: x-large;
	font-weight: bold;
}

.navbar a {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

/* Showcase */
#showcase {
	text-align: center;
}

#showcase a {
	margin-top: 20px;
}

/* Projects */
#projects img {
	border-radius: 20px;
	margin-bottom: 10px;
}

/* Benefits */
#benefits img {
	height: 110px;
}

#benefits .flex-3-box {
	text-align: center;
}

.benefits-secondary {
	text-align: center;
	padding-top: 20px;
}

/* Contact */
#contact .flex-3-box {
	text-align: center;
}

/* Footer */
#mainfooter {
	text-align: center;
	padding: 30px;
}

@media screen and (min-width: 900px){
  /* Utility Classes */
.display-1 {
	font-size: 2.5rem;
}

.flex-3 {
	flex-direction: column;
}

.p-1 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.p-2 {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Navbar */
.navbar {
	padding-top: 30px;
}

.navbar .container {
	flex-direction: column;
}
}
