/* .container{
  display: flex;
  background: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  div{
    h1{
      color: white;
      font-weight: 800;
      text-align: center;
    }
  }
}
 */
